REACT_APP_BACKEND_URL="http://127.0.0.1:4567"
REACT_APP_AWS_PROJECT_REGION="eu-central-1"
REACT_APP_AWS_USER_POOLS_ID="eu-central-1_vpiFVQ68P"
REACT_APP_AWS_USER_POOLS_WEB_CLIENT_ID="7bn0hbepr945cu3d2ea07btf1p"